@keyframes fadeIn_favoriteList {
    100% { opacity: 1; }
}
@keyframes fadeIn_favoriteListtWrap {
    100% { opacity: 1; }
}

.favoriteList{float: right; width: 20%; height: 100%; padding-top: 40px;}
.homePage > .favoriteList{opacity: 0; animation-name: fadeIn_favoriteList; animation-duration: .5s; animation-delay: 1s; animation-fill-mode: forwards; animation-timing-function: ease;} 
.favoriteList > a{display: block; width: calc(100% - 60px); height: 50px; border: 1px solid #333; font-size: 1.6rem; text-align: center; line-height: 48px; border-radius: 4px; color: #fff; font-weight: bold; margin: 0 auto; background: #333;}
.favoriteList > .favoriteListWrap{width: 100%; height: calc(100% - 100px); overflow: scroll; position: relative; margin-top: 15px; padding: 0 30px;}
.favoriteList > .favoriteListWrap:after{content: ''; display: block; clear: both;}
.favoriteList > .favoriteListWrap > .nonData{position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); font-size: 2rem; font-weight: bold; color: rgba(0, 0, 0, .5); text-align: center; line-height: 1.4;}